<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      
      >
  <extensions>
    <!--<add assembly="NLog.Targets.Stackify"/>-->
  </extensions>
  <targets>
    <!--<target name="stackify" xsi:type="StackifyTarget" />-->
    <target name="logfile" xsi:type="File" fileName="nlogfile.txt" />

  </targets>
  <rules>
    <!--<logger name="*" writeTo="stackify" minlevel="Debug" />-->
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>